* {
  padding: 0;
  margin: 0;
}
body{
  padding-top: 20px;
}
#score {
  text-align: center;
}

.wrap{
  width: 400px;
  margin: 0 auto;
}
.header{
  font-size: 14px;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#main {
  width: calc(100% - 2px);
  height: 400px;
  background: white;
  border: 2px solid gray;
  margin: 16px auto 0;
  position: relative;
  overflow: hidden;
}
#start-btn{
  font-size: 14px;
  cursor: pointer;
}
#start-btn.disabled{
  opacity: 0.2;
  user-select: none;
}

#con {
  width: 100%;
  height: 400px;
  position: relative;
  top: -100px;
  border-collapse: collapse;
}

.row {
  height: 100px;
  width: 100%;
}

.cell {
  height: 100px;
  width: 25%;
  float: left;
}

.black {
  background: black;
}

@media screen and (max-width: 450px) {
  .wrap{
    width: calc(100vw - 20px);
    margin: 16px auto 0;
  }
}